.clima-container {
    background: #f4f9ff;
    padding-bottom: 2rem;
    font-family: "Delius Swash Caps", cursive;
    font-weight: 400;
    font-style: normal;
  }
  
  .clima-card {
    background-color: #ffffff;
    border-radius: 20px;
    border: none;
  }
  
  .clima-titulo {
    font-size: 2rem;
    color: #0d6efd;
  }

  .clima-texto {
    font-size: 1.2rem;
  }
  
  .clima-icono {
    font-size: 4rem;
  }