.temperatura-container {
    background: #fff8f0;
    padding-bottom: 2rem;
    font-family: "Delius Swash Caps", cursive;
    font-weight: 400;
    font-style: normal;
  }
  
  .temperatura-card {
    background-color: #ffffff;
    border-radius: 20px;
    border: none;
  }
  
  .temperatura-titulo {
    font-size: 2rem;
    color: #fd7e14;
  }
  
  .temperatura-valor {
    font-size: 1.5rem;
    color: #333;
  }
  